<!DOCTYPE html>
<html lang="en">
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <img src="{{ url_for('video') }}">
        </div>
    </div>
</div>
</body>

</html>